.fb-main {
  max-width: 524px;
  width: auto;
  margin: auto;
}

.nav-item {
  position: relative;
}

.icon-button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px;
  font-size: 20px;
}

.nav-icon {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}